<h2>Add a new recipe</h2>

<form action="/recipes" method="post">
  <div class="form-group">
    <label for="recipe_name">Enter the name of your recipe here</label>
    <input id="recipe_name" name="recipe_name" class="form-control" type="text">

    <label for="instructions">Enter the instructions</label>
    <input id="instructions" name="instructions" class="form-control" type="text">
  </div>
  <!-- <input type="button" name="some_name" value="Add"> -->
  <button type='submit' class='btn-danger'>Add</button>
</form>
