<h2>Recipes</h2>

<% if @recipes.any?() %>
  <% Recipe.sort_by_rating.each() do |recipe| %>
    <a href="/recipe/<%= recipe.id() %>"><%= recipe.name() + ' - ' + recipe.mean_rating.to_s %></a>
    <br>
  <% end %>
<% else %>
  <p>There aren't any recipes in your cookbook yet.
    <br>
    <a href="/recipe_form">Add a recipe.</a></p>
<% end %>
